@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  h5 {
    @apply text-lg lg:text-2xl font-semibold;
  }

  html,
  body {
    @apply tracking-wide leading-normal break-words;
  }

  p {
    @apply leading-normal;
  }

  /* input,
  textarea,
  select {
    @apply text-black;
  } */

  /* blockquote {
    @apply font-quote font-normal text-3xl text-center md:p-10 p-3;
  } */

  /* .date { 
      @apply text-gray-400 font-light p-0;
    } */
}

@tailwind components;
@tailwind utilities;
